<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
        @for (item of displayedColumns(); track $index) {
            @if(item.column !== 'actions'){
                <ng-container [matColumnDef]="item.column">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{item.label}} 
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element[item.column]}} </td>
                </ng-container>
            }
            @else{
                <ng-container [matColumnDef]="item.column">
                    <th mat-header-cell *matHeaderCellDef>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="onViewOrders(element)" class="red-button" mat-button>VIEW ORDERS</button>
                        <button (click)="onNewOrder(element)" class="green-button" mat-button>NEW ORDER</button>
                    </td>
                </ng-container>
            }
        }

        <tr mat-header-row *matHeaderRowDef="columns()"></tr>
        <tr mat-row *matRowDef="let row; columns: columns();"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>